<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <form id="app">
        <div class ="holder headline">
          <h1>Travel App</h1>
          <section><p>General description</p></section>
        </div>
        <div class="holder country">
          <label for="country">Select your country destination</label>
          <select id="dropdownCountries" class="dropdownContent">
            <!-- To be completed with .js -->
          </select>
        </div>
        <div class ="holder city">
          <label for="city">Type here the city destination</label>
          <input type="text" id="city" placeholder="enter city name here">
        </div>
        <fieldset class ="holder date">
          <legend>Date</legend>
          <div>
            <label for="departueDate">Depart</label>
            <input class="date input" id="departureDate" placeholder="MM/DD/YYYY">
          </div>
          <div>
            <label for="returnDate">Return</label>
            <input class="date input" id="returnDate" placeholder="MM/DD/YYYY">
          </div>
        </fieldset>
        <button id="generate" type = "submit"> Generate </button>
        <div class ="holder entry">
          <div class = "title">Most Recent Entry</div>
          <div id = "entryHolder">
            <div id = "date"></div> 
            <div id = "temp"></div>
            <div id = "content"></div>
          </div>
        </div>
      </form>
    </div>

    <!-- <script>
      // Workbox Plugin - Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script> -->
  </body>
</html>