<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class ="holder headline">
        <h1>Travel App</h1>
        <section><p>General description</p></section>
      </div>
      <form id="app" class="box" autocomplete="off">
        <div class="holder location-fields">
          <div class="country autocomplete">
            <!-- <label for="country">Select your country destination</label> -->
            <input type="text" id="input-countries" class="input-countries box" autocomplete="trick-chrome" name="Country" placeholder="Type your country destination here">
          </div>
          <div class="spacing-vertical"></div>
          <div class ="city">
            <!-- <label for="city">Type here the city destination</label> -->
            <input type="text" id="input-city" class="box" placeholder="Enter city name here">
          </div>
        </div>
        <fieldset class ="holder box">
          <legend>Dates</legend>
          <div class="date-fields">
            <div class="holder">
              <label for="departure-date">Departure</label>
              <input class="date input box" id="datepicker-departure" placeholder="MM/DD/YYYY">
            </div>
            <div class="spacing-horizontal"></div>
            <div class="holder">
              <label for="returnDate">Return</label>
              <input class="date input box" id="datepicker-return" placeholder="MM/DD/YYYY">
            </div>
          </div>
        </fieldset>
        <button id="generate" class="box" type="button"> Generate </button>
      </form>
      <div class ="holder entry">
        <div class = "title">Most Recent Entry</div>
        <div id = "entry-holder">
          <div id = "date"></div> 
          <div id = "temp"></div>
          <div id = "content"></div>
        </div>
      </div>
    </div>
    <!-- <script>
      // Workbox Plugin - Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script> -->
  </body>
</html>