@import 'variables';

:root {
    font-size: $txt1-font-size;
}

html {
    box-sizing: border-box;
}

body{
    background: $main-background-color;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


