@import 'variables';

section {
    margin-left: auto;
    margin-right: auto;

    &.description {
        max-width: 500px;
    }
}

label {
    display: block;
    width: 100%;
    font-family: $primary-font;
    font-size: $txt1-font-size;
}

input {
    background-color: $fields-background-color;
    border-radius: $field-radius;
    border: 0px solid $active-border-color;
    color: $active-font-color;
    display: block;
    font-family: $secondary-font;
    font-size: $txt1-font-size;
    height: $fields-height;
    padding: 0.4em 0.5em;
    width: 100%;

    &:focus {
        outline: 1px;
        border-width: 1.5px;
    }

    &:hover {
        cursor: text;
        border: 1px solid $active-border-color;
    }
}

button {
    background: $btn-background-color;
    border-color: $btn-border-color;
    border-radius: $field-radius;
    box-shadow: 2px 4px 5px #444;
    color: $active-font-color;
    font-family: $secondary-font;
    font-size: $btn-font-size;
    height: $btn-height;
    margin-top: $spacing-1;
    margin-bottom: $spacing-1;
    width: 100%;

    &:focus {
        border: 2px solid;
    }

    &:hover {
        cursor: pointer;
        color: $static-secondary-font-color;
        background-color: $static-fields-background-color;
    }
}

.box {
    box-sizing: border-box;
}

/* Style for Placeholder Text*/
::placeholder {
    color: $placeholder-font-color; 
    font-family: $secondary-font;
} 
  
::-ms-input-placeholder {
    color: $placeholder-font-color; 
    font-family: $secondary-font;
} 

