@import 'variables';

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    width: 100%;
    font-family: $primary-font;
    font-size: $txt1-font-size;
}

input {
    display: block;
    height: $fields-height;
    width: 100%;
    padding: 0.4em 0.5em;
    background: $fields-background-color;
    color: $active-font-color;
    font-size: $txt1-font-size;
    font-family: $primary-font;
    border: none;
    border-radius: $field-radius;

    &:focus {
        outline: 1px;
        border: 1px;
    }

    &:hover {
        /* outline: 1px; */
        border: 1px;
        border-color: black;
    }
}

button{
    width: 100%;
    height: $btn-height;
    background: $btn-background-color;
    color: $static-font-color;
    font-size: $btn-font-size;
    font-family: $primary-font;
    border: none;
    box-shadow: 2px 4px 5px #444;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

/* select {
    height: $fields-height;
    width: 100%;
    background: $fields-background-color;
    color: $active-font-color;
    font-size: $txt1-font-size;
    font-family: $primary-font;

    &:focus {
        outline: none;
    }
} */

.box {
    box-sizing: border-box;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $placeholder-font-color; 
    font-family: $secondary-font;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $placeholder-font-color; 
    font-family: $secondary-font;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $placeholder-font-color; 
    font-family: $secondary-font;
} 

