@import 'variables';

#container {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 500px; */
    height: auto;
    background: $main-background-color;
    color: $static-font-color;
    font-family: 'Oswald', sans-serif;
}

#app {
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

.holder {
    display: block;
    margin: 1em 0em;
    /* width: 100%; */

    &.date{
        width: 100%;
    }

    &.results{
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
    }

    .hidden {
        display: none;
    }

    #results-title {
        font-size: $txt2-font-size;
        margin-bottom: $spacing-1;
        padding-bottom: $spacing-1;
        border-bottom: $static-font-color solid 1px;
    }
}

.results-cards-holder {
    display: grid;
    grid-row-gap: $spacing-3;
    grid-column-gap: $spacing-3;
    box-sizing: border-box;
}

.location {
    display: flexbox;
    flex-direction: column;
}

.spacing-vertical, .spacing-horizontal {
    margin: $spacing-1;
}

.date-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headline {
    text-align: center;
}