@use 'variables';

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: variables.$primary-background-color;
    color: variables.$primary-font-color;
    font-size: variables.$secondary-font-size;
    font-family: 'Oswald', sans-serif;
}

#app {
    padding: 1em;
}

.holder {
    display: block;
    margin: 1em 0em;
    /* width: 100%; */
}