@import 'variables';

#container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    height: auto;
    background: $main-background-color;
    color: $static-font-color;
    font-family: 'Oswald', sans-serif;
}

#app {
    padding: 1em;
}

.holder {
    display: block;
    margin: 1em 0em;
    /* width: 100%; */

    &.date{
        width: 100%;
    }

    &.results{
        width: 100%;
        padding: 1em;
    }
}

.holder.results {
    padding: 1em;
}

.location {
    display: flexbox;
    flex-direction: column;
}

.spacing-vertical, .spacing-horizontal {
    margin: $spacing-1;
}

.date-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headline {
    text-align: center;
}