// Sets the variables to be used in styling

// For typography
$primary-font: 'Montserrat', arial, sans-serif;
$secondary-font: 'Oswald', sans-serif;

$primary-font-size: 16px;
$secondary-font-size: 24px;

$primary-heading-size: 40px;
$secondary-heading-size: 32px;

$static-font-color: #f0d43a;
$active-font-color: #3f3f3f;
$placeholder-font-color: #9098a9;

// For components
$main-background-color: #0190b8;
$secondary-background-color: #70d8f5;
$fields-background-color: #fffff8;

$fields-height: 2em;
$btn-height: 2.5em;