$primary-font: 'Montserrat', arial, sans-serif;
$secondary-font: 'Oswald', sans-serif;

$primary-font-size: 26px;
$secondary-font-size: 20px;
$tertiary-font-size: 15px;

$primary-font-color: #f0d43a;
$secondary-font-color: #3f3f3f;
$tertiary-font-color: #9098a9;

$primary-background-color: #0190b8;
$secondary-background-color: #22b2da;
$tertiary-background-color: #fffff8;


body{
    background: $tertiary-background-color;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    grid-auto-rows: minmax(100px, auto);
    padding: 1em;
    width: 100%;
    /* height:auto; */
    background: $primary-background-color;
    color: $primary-font-color;
    /* grid-gap: 0.5em; */
    font-size: $secondary-font-size;
    font-family: 'Oswald', sans-serif;
}

.holder {
    display: block;
    /* width: 100%; */
}

.entry {
    background: rgba(59, 74, 107, .4);
}

.box {
    border-radius: 5px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    width: 100%;
    font-size: $secondary-font-size;
}

input{
    display: block;
    height: 60px;
    width: 100%;
    padding: 1px 0px;
    background: $tertiary-background-color;
    color: $secondary-font-color;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;

    &:focus {
        outline: none;
    }
}

button{
    width: 100%;
    height: 100px;
    background: #3b4a6b;
    color: $primary-font-color;
    font-size: $primary-font-size;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;

    &:focus {
        outline: none;
    }
}
h1{
    font-size: 36px;
}

select {
    height: 60px;
    width: 100%;
    background: $tertiary-background-color;
    color: $secondary-font-color;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

    &:focus {
        outline: none;
    }
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $tertiary-font-color; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $tertiary-font-color; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $tertiary-font-color; 
    font-family: 'Oswald', sans-serif;
} 